/*
The most up-to-date version of this style can be found at: https://github.com/Krifto/HeroKidsStyle/blob/main/style/style.css
*/


/* WEBFONTS */
/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.onlinewebfonts.com/fonts">Web Fonts</a>is licensed by CC BY 
*/


 

@font-face{
    font-family: "MonogramsToolbox";
    src: url("https://db.onlinewebfonts.com/t/268c2247af1e14e51841a8859d089cb4.woff2")format("woff2");
    font-weight:normal;
    font-style:normal;
    font-display:block;
}


@font-face{
    font-family: "Baramond";
    src:url("https://db.onlinewebfonts.com/t/bc4e3771a313d618eb3f3692628538ac.woff2")format("woff2");
    font-weight:normal;
    font-style:normal;
    font-display:block;
}

@font-face{
    font-family: "Baramond Bold";
    src:url("https://db.onlinewebfonts.com/t/8a3f3ae790a366d8c22060e0654d9205.woff2")format("woff2");
    font-weight:normal;
    font-style:normal;
    font-display:block;
}

@font-face{
    font-family: "Baramond Italic";
    src:url("https://db.onlinewebfonts.com/t/8b27858af3300c2a0f6e0cf9c5cf9589.woff2")format("woff2");
    font-weight:normal;
    font-style:normal;
    font-display:block;
}

@font-face{
    font-family: "Baramond Bold Italic";
    src: url("https://db.onlinewebfonts.com/t/f7801edb7313a5db113c7ed90ed7b34a.woff2")format("woff2");
    font-weight:normal;
    font-style:normal;
    font-display:block;
}


@font-face{
    font-family: "Salernomi J";
    src: url("https://db.onlinewebfonts.com/t/5beb5b25f56a678a5c431d90eaa009c2.woff2")format("woff2");
    font-weight:normal;
    font-style:normal;
    font-display:block;
}
 
 


:root {
  --adventure_name: "Hero Kids Adventure - Template";
  --adventure_author: "Justin Halliday";
}


/*PAGES*/

.page {
  background-image    :  url('https://rawcdn.githack.com/Krifto/HeroKidsStyle/main/assets/squiggle.png'), url('https://rawcdn.githack.com/Krifto/HeroKidsStyle/main/assets/herokids_bg.jpg');
  background-size     :  9.44in 0.16in, 100% 100%;
  background-position : center 1cm , top;
  background-repeat   : no-repeat, no-repeat;
  padding             : 0.83in  0.76in  0.52in  0.55in;
  font-family         : 'Baramond'; 
  font-size	      : 14pt;
  text-align	      : justify;
  column-gap  	      : 0.47in;
  
  /*height  : 210mm;
	width: 296.8mm;*/
  
  width: 11in;
  height: 8.5in;
}

.page:has(.licensepage) p {
     padding-bottom: 30px;
}



/* HEADERS */

.page h1 {
  color           : black;
  font-family     : 'MonogramsToolbox';
  font-size       : 22pt;
  font-weight     : normal;
  margin-bottom   : 0.08in;
  text-indent     : 0.3in;
}
  
.page h2 {
  color           : black;
  font-family     : 'Salernomi J';
  font-size       : 20pt;
  font-weight     : normal;
  margin-bottom   : 0.08in;
}

.page h3 {
  color           : black;
  font-family     : 'Baramond';
  font-size       : 16pt;
  font-weight     : bold;
  font-style      : italic;
  margin-bottom   : 0.08in;
  border          : none;
  margin-top      : 14pt;
}

.page h3:first-child {
   margin-top   : 0;
}

/* Text Styles */

.page .descriptive  {
  background-color : unset;
  border-style	   : unset;
  border           : 1px solid;
  padding-left     : 0.08in;
  padding-right    : 0.08in;  
  margin-left      : 0mm;
  margin-right     : 0mm;
  margin-top       : 4mm;
  margin-bottom    : 0mm;
}


.page .descriptive p {
    font-family      : 'Baramond';
    font-size        : 14pt;
    font-style       : italic;
    line-height: 1.3em;
}




/* Monster Position Icons */
.page .ID1 {background-image:url('https://rawcdn.githack.com/Krifto/HeroKidsStyle/main/assets/1.png');}
.page .ID2 {background-image:url('https://rawcdn.githack.com/Krifto/HeroKidsStyle/main/assets/2.png');}
.page .ID3 {background-image:url('https://rawcdn.githack.com/Krifto/HeroKidsStyle/main/assets/3.png');}
.page .ID4 {background-image:url('https://rawcdn.githack.com/Krifto/HeroKidsStyle/main/assets/4.png');}
.page .ID5 {background-image:url('https://rawcdn.githack.com/Krifto/HeroKidsStyle/main/assets/5.png');}
.page .ID6 {background-image:url('https://rawcdn.githack.com/Krifto/HeroKidsStyle/main/assets/6.png');}
.page .ID7 {background-image:url('https://rawcdn.githack.com/Krifto/HeroKidsStyle/main/assets/7.png');}
.page .ID8 {background-image:url('https://rawcdn.githack.com/Krifto/HeroKidsStyle/main/assets/8.png');}

/* Health Indicators */
.page .hp4 {background-image:url('https://rawcdn.githack.com/Krifto/HeroKidsStyle/main/assets/KO-Hurt-Bruised-Grazed.png');}
.page .hp3 {background-image:url('https://rawcdn.githack.com/Krifto/HeroKidsStyle/main/assets/KO-Hurt-Bruised.png');}
.page .hp2 {background-image:url('https://rawcdn.githack.com/Krifto/HeroKidsStyle/main/assets/KO-Hurt.png');}
.page .hp1 {background-image:url('https://rawcdn.githack.com/Krifto/HeroKidsStyle/main/assets/KO.png');}


/* Tables */ 
.page .monstertable table tbody tr td {
  font-family       : 'Baramond';
  font-size         : 14pt;
  border            : 0.5pt solid;
  border-collapse   : collapse;
  text-align        : left;
  padding-top       : 1pt;
  padding-bottom    : 1pt;
  padding-left      : 7pt;
  line-height       : 1.2;
  vertical-align    : middle;
}

.page .monstertable td {
   overflow:hidden; white-space:nowrap
}

.page .monstertable td [class*="ID"] {
   width            : 0.19in; 
   height           : 0.2in;
   background-size  : 0.2in;
}

.page .damagetable table tbody tr td {
  font-family       : 'Baramond';
  font-size	        : 14pt;
  border            : 0.5pt solid;
  border-collapse   : collapse;
  text-align        : left;
  padding-top       : 1pt;
  padding-bottom    : 1pt;
  padding-left      : 7pt;
  line-height       : 1.2;
  vertical-align: middle;
}

.page .damagetable td [class*="ID"]
{
   width               : 0.19in; 
   height              : 0.2in;
   background-size     : 0.2in;
   width               : 0.32in; 
   height              : 0.39in;
   background-size     : 0.32in;
   background-repeat   :no-repeat;
   background-position : center;
}

.page .damagetable td [class*="hp"]
{
   width              : 2.13in; 
   height             : 0.43in;
   background-size    : 90%;
   background-repeat  : no-repeat;
   background-position: center center;
   
}


/*remove alternating table line colors */
.page table tbody tr:nth-child(odd) {
    background-color: unset
}

/*remove footer decoration*/
.page::after {
    background-image: unset;
}

.page p+p, .page ul+p, .page ol+p {
  text-indent: unset;
}


/* scroll background */
.page .scrollnote {

    position:absolute;
    top:320px;
    left:145px;
    width:4.43in;
    height:4.67in;
    background-image: url(https://rawcdn.githack.com/Krifto/HeroKidsStyle/main/assets/scroll.png);

    background-size: 4.43in;
    background-repeat:no-repeat;
    background-position: center center;
    color           : black;
    font-family     : 'Salernomi J';
    font-size: 18pt;
    text-align: center;
    padding-top:20px;
    line-height:1.4;
}

.page .scrollnote h1
{
  color           : black;
  font-family     : 'MonogramsToolbox';
  font-size				: 26pt;
  text-indent     : 0;
  text-align      : center;
  line-height     : 1.4;

}



/* Footer */

.page .footerleft {
    position: absolute;
    left: 80px;
    bottom: 32px;
    z-index: 150;
    width: 100%;
    font-size: 8pt;
 
    color: black;
    text-align: left;
    font-family       : 'Baramond';
}


.footerleft::after {
 content: var(--adventure_name);
}


.page .footercenter {
    position: absolute;
    left: 0px;
    bottom: 32px;
    z-index: 150;
    width: 100%;
    font-size: 8pt;
    color: black;
    text-align: center;
    font-family       : 'Baramond';
    
}

.footercenter::after {
 content: var(--adventure_author);
}

.page .footerright {
    position: absolute;
    right: 80px;
    bottom: 32px;
    z-index: 150;
    width: 100%;
    font-size: 8pt;
    color: black;
    text-align: right;
    font-family       : 'Baramond';
}




.page::after {
    position: absolute;
    background-image: unset;
    
}

.page:nth-child(even)::after {
    transform: unset
}

.page:nth-child(even) .pageNumber {
    left: unset
}


.page .pageNumber {
    right: 80px;
    bottom: 32px;
    color: red;
    font-size: 8pt;
    color: black;
    text-align: right;
    font-family       : 'Baramond';
}

.pageNumber::before {
  content: "Page ";
}
